[submodule "third_party/llvm-project"]
	path = third_party/llvm-project
	url = https://github.com/PSAL-POSTECH/llvm-project-m2ndp.git
	branch = m2ndp/release-23.x
	shallow = true
[submodule "third_party/m2ndp-detour"]
	path = third_party/m2ndp-detour
	url = https://github.com/PSAL-POSTECH/M2NDP-Detour.git
	branch = mc-frontend
	shallow = true
